body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
}

.header ul{
    list-style: none;
    display: flex;
    gap: 10px;
}

.header a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.about{
    display:flex;
    justify-content: space-around;
    align-items:center;
    background-color: #1F2937;
    padding: 80px;
}

.about .text{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    width: 33%;
}

.about .text h1{
    font-size: 48px;
    color: #F9FAF8;
    weight: 900;
    margin-bottom: 0;
    padding-bottom: 0;
}

.about .text p{
    font-size:18px;
    color: #E5E7EB;
    margin-top: 0;
    margin-bottom: 0;
}

.about .text button{
    color: #E5E7EB;
    font-weight: 900;
    font-size: 16px;
    padding: 8px;
    background-color: #3882F6;
    width: 33%;
    margin-top: 0;
    border-radius: 8px;
    border: 0px;
    margin-top: 5px;
}

.random-info{
    padding: 50px;
}

.random-info h1{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
}

.random-info .cards{
    display:flex;
    justify-content: center;
    gap: 5%;
}

.random-info .cards .card{
    display:flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.random-info .cards .card p{
    width: 150px;
}

.random-info .cards .card img{
    border: 3px solid #3882F6;
    border-radius: 8px;
}

.quotesection {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 25% 50px 25%;
}

.quotesection .quote{
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    width: 100%;
    align-self: center;
    margin-bottom: 0;
}

.quotesection .name{
    font-weight: 900;
    align-self: flex-end;
}

.signup{
    padding: 50px;
    display: flex;
    justify-content: center;
}

.signup .bluesection{
    display: flex;
    background-color: #3882F6;
    align-items: center;
    justify-content: space-around;
    width: 65%;
    border-radius: 8px;
}

.signup .bluesection .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1px;
    height: 150px;
}

.signup .bluesection .text .biggertext{
    color: #F9FAF8;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 0;
}

.signup .bluesection .text .smallertext{
    color: #F9FAF8;
    margin-top: 0;
    font-weight: 100;
}

.signup .bluesection button{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    border: 3px solid #F9FAF8;
    padding: 5px 30px 3px 30px;
    font-weight: 900;
    font-size: 15px;
}

.footer{
    background-color: #1F2937;
    text-align: center;
    color: #F9FAF8;
    padding: 40px;
}
